<center>
  <h1>It's a <i>BATTLE</i> of <i>WITS!!</i></h1>

  <form action='/names' method=post>
    <label for=player1>
      Wordsmith 1:
      <input type=text name=player1></input>
    </label>
    <label for=player2>
      Wordsmith 2:
      <input type=text name=player2></input>
    </label>
      <input type=submit ID='Submit' value='TO BATTLE!'></input>
  </form>
</center>
