<center>
  <h1>Insult delivered!</h1>
  <h2><%=@player1.name%> laid the verbal smackdown upon <%=@player2.name%>!</h2>
  <h2><%=@player2.name %>: <%=@player2.morale %>MP (morale points)</h2>
</center>
